
@{
    ViewBag.Title = "Novo";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row md-2">
                <div class="col">
                    <h1>Inserir novo filial</h1>
                </div>
                <div class="col">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="breadcrumb-item">@Html.ActionLink("Filial", "Index")</li>
                        <li class="breadcrumb-item active">Novo</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Novo filial</h3>
                        </div>
                        <div class="card-body">
                            <input type="hidden" id="FilialId" value="0" />
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label>FilialId</label>
                                        <input id="FilialId" class="form-control" type="number" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label>EmpresaId</label>
                                        <input id="EmpresaId" class="form-control" type="number" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label>NumeroFilial</label>
                                        <input id="NumeroFilial" class="form-control" type="number" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label>DV</label>
                                        <input id="DV" class="form-control" type="number" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label>Nome</label>
                                        <input id="Nome" class="form-control" type="text" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <label>Ativo</label>
                                        <input id="Ativo" class="form-control" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary btn-block" onclick="filialControle.GravarFilial();">Gravar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

