
@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row md-2">
                <div class="col">
                    <h1>
                        Pagina Inicial
                    </h1>
                </div>
                <div class="col">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            @Html.ActionLink("HOME", "Index", "Home")
                        </li>
                        <li class="breadcrumb-item active">Financeiro</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="small-box bg-secondary">
                        <div class="inner">
                            <h3>Atendimento de cobrança</h3>
                            <p>Gerar ordems de recebimentos dos clientes</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-list"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>Notas Fiscais</h3>
                            <p>Emissão de Nota Fiscal</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-personadd"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>Contas a receber</h3>
                            <p>Emissão de boletos e conciliação bancaria</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-personadd"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="small-box bg-secondary">
                        <div class="inner">
                            <h3>Contas a pagar</h3>
                            <p>Contas a pagar</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-list"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>Monitor de pagamentos</h3>
                            <p>Calendario de acompanhamento dos pagamentos</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-personadd"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>Consultas</h3>
                            <p>Consultas e relatorios financeiros</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-ios-personadd"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

